

  /* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* Navigation styles */
#main {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
}

.sidenav {
  display: flex;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100%;
}

.navbar-logo {
  margin-bottom: 20px;
}

.navbar-toggler {
  display: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #10d709;
}

.nav-item img {
  width: 30px;
  margin-right: 10px;
}

/* Page styles */
#page {
  display: flex;
  align-items: center;
  justify-content: center;
}

#create{
  width: 500px;
  height: 100px;
  background-color: #08e028;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 300px;
  cursor: pointer;
}

#create:hover{
  background-color: #047808;
}

.navbar {
  background-color: #ffffff;
  color: #08e028;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  height: 80px;
}

.navbar-search input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4caf50;
}

.navbar-search button[type="submit"] {
  height: 30px;
  width: 80px;
  padding: 5px 10px;
  border: none;
  background-color: #08e028;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-search button:hover{
  background-color: #4caf50;
}

#navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-left: 20px;
  position: relative;
}

.navbar-icon:hover #notification {
  opacity: 0.7;
}

#notification {
  width: 20px;
  height: 20px;
}

.navbar-icon:hover #profile {
  opacity: 0.7;
}

#profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#navbar-icons div {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 50%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    z-index: 1;
    transition: left 0.3s ease;
  }

  .sidenav.show {
    left: 0;
  }

  .navbar-toggler {
    display: block;
    position: absolute;
    top: 10px;
    right: 10
  }
}  